[submodule "lib/php-activerecord"]
	path = lib/php-activerecord
	url = git://github.com/kla/php-activerecord.git
[submodule "lib/Slim-framework"]
	path = lib/Slim-framework
	url = git://github.com/codeguy/Slim.git
